@import url(./variable.less);

.download {
  display: flex;
  height: 16vw;
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  img {
    width: 10.6667vw;
    height: 10.6667vw;
    margin-left: 5.3333vw;
  }
  }
  .right {
    width: 25.2vw;
    text-align: center;
    line-height: 16vw;
    color: #fff;
    font-size: @bigFontSize;
    background-image: linear-gradient(to right,#ff0409,#ff3162);
  }
}