.header_type_01{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
.header_type_01 .title{
  color: #333;
  font-size: 12px;
}
.header_type_01 .more{
  color: #666;
  font-weight: normal;
}
.header_type_01 .more:hover{
  text-decoration: underline;
}
.header_type_02{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 35px;
  box-sizing: border-box;
  padding-left: 34px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-bottom:2px solid #C10D0C;
  background: url(../../image/网易云/main-sprite.png) no-repeat -225px -156px;
}
.header_type_02::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 8px;
  background: url(../../image/网易云/main-sprite.png) no-repeat 0px -240px;
}
.header_type_02 .left-area{
  display: flex;
  align-items: center;
}
.header_type_02 .title{
  font-size: 20px;
  font-weight: normal;
  color:#333;
}
.header_type_02 .keywords{
  display:flex;
  margin-left: 20px;
  color: #999;
}
.header_type_02 .keywords .item{
  color:#666;
}
.header_type_02 .keywords .line{
  margin: 0 12px;
}
.header_type_02 .more{
  font-size: 12px;
  color: #666;
}
.header_type_02 .more:hover{
  text-decoration: underline;
}
